@charset "utf-8";
/* CSS Document */


#header{
	background-color:#90F;
	height:20%;
	width:100%;
}

#wrapper{
	background-color:#D7CEFB;
}

#nav{
	list-style:none;
	float:left;
	}

#maincontent{
	margin-left:30%;
	
}

#pictureWrapper{
	float:right;
	margin-right:30%;
}

#footer{
	width:100%;
	height:5%;
	float:right;
	background-color:#900;
	color:#0FF;
	margin-top:150px;
	}